# Node module files (express, mongoose)
node_modules/

# Notes towards building a final read me, not required in github
FutureDevelopment.md

# Notes from the bootcamp outlining the project brief
INSTRUCTIONS.md